<!DOCTYPE HTML>
<html>
		<%- include("./partials/header.ejs")%>
	  <body>
		  
			<%- include("./partials/nav.ejs")%>





	  <div id="fh5co-course">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                    <h2>Our Classes</h2>
                    <p>We offer Pre-Primary, Primary and Secondary Education.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(images/project-1.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">Creche</a></h3>
                            <p>For children who are between the ages of 1-2. We have nuturers who will help your kid develop tremendously.</p>
                            <span><a href="#" class="btn btn-primary btn-sm btn-course"></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(images/project-2.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">Kindergarten</a></h3>
                            <p>For kids between the ages of 2-4. Here, they are being thought ryhmes, songs, A-Z and number 1-9 <br> ` </p>
                            <span><a href="#" class="btn btn-primary btn-sm btn-course"></a></span>
                        </div>
                    </div>
                </div>

                <div class="row"></div>
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(images/project-3.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">Nursery</a></h3>
                            <p>We focus alot on developing not just the cognitive but also the psycho motor skills. At this stage, we help them develop interest in different activities of choice. </p>
                            <span><a href="#" class="btn btn-primary btn-sm btn-course"></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(images/project-4.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">Primary</a></h3>
                            <p>We have got well qualified teachers who are great at training and teaching kids <br>`</p>
                            <span><a href="#" class="btn btn-primary btn-sm btn-course"></a></span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(images/project-5.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">JSS</a></h3>
                            <p> Well Qualified Teachers. <br/> Conducive Classes <br/> Computer Facilities <br/> Extra Curricular activities
                            </p>
                            <span><a href="#" class="btn btn-primary btn-sm btn-course"></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animate-box">
                    <div class="course">
                        <a href="#" class="course-img" style="background-image: url(images/project-6.jpg);">
                        </a>
                        <div class="desc">
                            <h3><a href="#">SSS</a></h3>
                            <p>Science, Arts and Humanities and Commercial Department.  <br> Practical Teachings to support theories </p>
                            <span><a href="#" class="btn btn-primary btn-sm btn-course"></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



	

	
	<footer id="fh5co-footer" role="contentinfo" style="background-image: url(images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-3 fh5co-widget">
					<h3>About Education</h3>
					<p></p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
					<h3>Learning</h3>
					<ul class="fh5co-footer-links">
						<li><a href="courses.html">Course</a></li>
						<li><a href="teacher.html">Teachers</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="about.html">About</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
					<h3>Learn &amp; Grow</h3>
					<ul class="fh5co-footer-links">
						
						<li>Standard Science Laboratories</li>
						<li>Computer Science Workshops</li>
						<li>Handbooks</li>
						<li>Classroom Facilities</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
					<h3>External Examinations</h3>
					<ul class="fh5co-footer-links">
						<li>Junior WAEC</li>
						<li>Senior Wassce</li>
						<li>NECO</li>
						<li>UTME</li>
					</ul>
				</div>

				
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 fh5co-widget">
						<h3>Services</h3>
						<ul class="fh5co-footer-links">
							<li>School Bus Services</li>
							<li>External Examninations Lessons</li>
							<li>Annual Career Orientation</li>
							<li>Standard Sick Bay</li>
						</ul>
					</div>
		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Flexslider -->
	<script src="js/jquery.flexslider-min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Count Down -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	<script>
    var d = new Date(new Date().getTime() + 1000 * 120 * 120 * 2000);

    // default example
    simplyCountdown('.simply-countdown-one', {
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate()
    });

    //jQuery example
    $('#simply-countdown-losange').simplyCountdown({
        year: d.getFullYear(),
        month: d.getMonth() + 1,
        day: d.getDate(),
        enableUtc: false
    });
	</script>
	</body>
</html>

